@model CustomerWeb.Models.Customer.InputModel.CustomerInputModel
@{
    ViewData["Title"] = "Customers List";
}

<h2>Customers List</h2>

@using (Html.BeginForm("Index", "Customer", FormMethod.Post, htmlAttributes: new { @id = "form" }))
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="container">
            <div class="row col-sm-12 col-md-12 col-12">
                <div class="form-group col-12">
                    <label asp-for="@Html.ViewData.Model.Name" class="col-sm-6 col-form-label">Name</label>
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-sm-6" })
                </div>
                <div class="form-group col-3">
                    <label asp-for="@Html.ViewData.Model.GenderId" class="col-sm-12 col-form-label">Gender</label>
                    @Html.DropDownListFor(x => Model.GenderId, Model.Genders, String.Empty, htmlAttributes: new { @class = "form-control", @id = "GenderId" })
                </div>
                <div class="form-group col-3">
                    <label asp-for="@Html.ViewData.Model.ClassificationId" class="col-sm-12 col-form-label">Classification</label>
                    @Html.DropDownListFor(x => Model.ClassificationId, Model.Classifications, String.Empty, htmlAttributes: new { @class = "form-control", @id = "ClassificationId" })
                </div>
                <div class="form-group col-3">
                    <label asp-for="@Html.ViewData.Model.CityId" class="col-sm-12 col-form-label">City</label>
                    @Html.DropDownListFor(x => Model.CityId, Model.Cities, String.Empty, htmlAttributes: new { @class = "form-control", @id = "CityId" })
                </div>
                <div class="form-group col-3">
                    <label asp-for="@Html.ViewData.Model.RegionId" class="col-sm-12 col-form-label">Region</label>
                    @Html.DropDownListFor(x => Model.RegionId, Model.Regions, String.Empty, htmlAttributes: new { @class = "form-control", @id = "RegionId" })

                </div>
                <div class="form-group col-6">
                    <label asp-for="@Html.ViewData.Model.LastPurchaseInitial" class="col-sm-12 col-form-label">Last Purchase Initial</label>
                    @Html.TextBoxFor(model => model.LastPurchaseInitial, new { @class = "form-control", type = "date" })
                </div>
                <div class="form-group col-6">
                    <label asp-for="@Html.ViewData.Model.LastPurchaseFinal" class="col-sm-12 col-form-label">Last Purchase Final</label>
                    @Html.TextBoxFor(model => model.LastPurchaseFinal, new { @class = "form-control", type = "date" })
                </div>
                @if (@ViewBag.IsAdmin)
                {
                    <div class="form-group col-6">
                        <label asp-for="@Html.ViewData.Model.SellerId" class="col-sm-12 col-form-label">Seller</label>
                        @Html.DropDownListFor(x => Model.SellerId, Model.Sellers, String.Empty, htmlAttributes: new { @class = "form-control", @id = "SellerId" })
                    </div>
                }
                <div class="form-group col-12">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <input type="button" id="btnClear" class="btn btn-secondary" value="Clear Filters" />
                </div>
            </div>
        </div>
    </fieldset>
}

<div id="customerList">
</div>

@if (@ViewBag.Customer != null)
{
    <table class="table" id="tblCustomer">
        <thead>
            <tr>
                <th>Classification</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Gender</th>
                <th>Region</th>
                <th>Last Purchase</th>
                @if (@ViewBag.IsAdmin)
                {
                    <th>Seller</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Customer as IEnumerable<CustomerWeb.Models.Customer.ViewModel.CustomerViewModel>)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassificationDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GenderDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RegionDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastPurchase)
                    </td>
                    @if (@ViewBag.IsAdmin)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.SellerName)
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var isAdminUser = JSON.parse('@ViewBag.IsAdmin'.toLowerCase());

            var clearFields = function () {
                $("#Name").val("");
                $("#GenderId").val("");
                $("#ClassificationId").val("");
                $("#CityId").val("");
                $("#RegionId").val("");
                $("#LastPurchaseInitial").val("");
                $("#LastPurchaseFinal").val("");
                if (isAdminUser)
                {
                    $("#SellerId").val("");
                }
            };

            $("#btnClear").click(function () {
                console.log("entrou1");
                clearFields();

                /*$('#form').each(function () {
                    console.log("entrou2");
                    $("#CityId").val("");
                    console.log("entrou3");
                    return $('#CityId').change();
                });*/
            });

            $('#CityId').change(function () {
                var selectedCity = $("#CityId").val();
                var regionsSelect = $('#RegionId');
                console.log("selectedCity", selectedCity);
                console.log("regionsSelect", regionsSelect);

                regionsSelect.empty();
                $.getJSON('@Url.Action("GetRegions")', { cityId: selectedCity }, function (regions) {
                    if (regions != null && !jQuery.isEmptyObject(regions)) {
                        if (selectedCity == null || selectedCity == '') {
                            regionsSelect.append($('<option/>', {
                                value: null,
                                text: ""
                            }));
                        }

                        $.each(regions, function (index, region) {
                            regionsSelect.append($('<option/>', {
                                value: region.value,
                                text: region.text
                            }));
                        });
                    };
                });
            });
        });
    </script>
}